<div class="{{CSS_PREFIX}}month-guide-block" style="top:{{top}};height:{{height}};display:none">
    {{#if isCreationMode ~}}
    <div class="{{CSS_PREFIX}}month-creation-guide" style="border: {{styles.border}}; background-color: {{styles.backgroundColor}};"></div>
    {{else ~}}
    <div class="{{CSS_PREFIX}}weekday-schedule"
        style="height: {{styles.scheduleHeight}}; line-height: {{styles.scheduleHeight}}; margin-top: {{styles.scheduleGutter}}; border-radius:{{styles.borderRadius}}; margin-left: {{styles.marginLeft}}; margin-right: {{styles.marginRight}};
            color:{{color}};border-color:{{borderColor}};background-color:{{bgColor}}">
        <div class="{{CSS_PREFIX}}weekday-schedule-title">
            {{#if isAllDay}}
                {{{allday-tmpl this}}}
            {{else}}
                {{{time-tmpl this}}}
            {{/if}}
        </div>
        <div class="{{CSS_PREFIX}}weekday-resize-handle handle-y" style="line-height: {{styles.scheduleHeight}};">&nbsp;</div>
    </div>
    {{/if}}
</div>
