<div class="{{CSS_PREFIX}}month-guide-block" style="top:{{top}}px;height:{{height}}px;display:none">
    <div class="{{CSS_PREFIX}}month-guide" style="background-color:{{bgColor}}">
        <div class="{{CSS_PREFIX}}month-guide-label">{{label}}</div>
        <div class="{{CSS_PREFIX}}month-guide-handle handle-y"
             style="{{#unless useHandle}}display:none{{/unless}}">&nbsp;</div>
    </div>
</div>
