<div class="{{CSS_PREFIX}}month-guide-block" style="top:{{top}};height:{{height}};display:none">
    {{#if isCreationMode ~}}
    <div class="{{CSS_PREFIX}}month-creation-guide"></div>
    {{else ~}}
    <div class="{{CSS_PREFIX}}weekday-schedule" style="border-color:{{borderColor}};background-color:{{bgColor}}">
        <div class="{{CSS_PREFIX}}weekday-schedule-title">{{label}}</div>
        <div class="{{CSS_PREFIX}}weekday-resize-handle Chandle-y"
             style={{#unless isResizeMode}}display:none{{/unless}}">&nbsp;</div>
    </div>
    {{/if}}
</div>
