<div class="{{CSS_PREFIX}}month-guide-block" style="width:100%;height:100%;left:-50%;top:-50%">
    <div class="{{CSS_PREFIX}}month-guide" style="background-color:{{bgColor}}">
        <div class="{{CSS_PREFIX}}month-guide-label">
        {{#if isAllDay}}
            {{title}}
        {{else}}
            {{hhmm starts}} {{title}}
        {{/if}}
        </div>
    </div>
</div>
