<div class="{{CSS_PREFIX}}month-guide"
     style="top: -50%;
            left: -50%;
            color:{{model.color}};
            background-color:{{model.bgColor}};
            border-left:3px solid {{model.borderColor}}">
    <div class="{{CSS_PREFIX}}month-move-guide {{CSS_PREFIX}}weekday-event-title">
        {{#if model.isAllDay}}
            {{{allday-tmpl model}}}
        {{else}}
            {{{time-tmpl model}}}
        {{/if}}
        </div>
    </div>
</div>
