<div class="{{CSS_PREFIX}}monthweek-grid">
{{#each eventGrid}}
<div class="{{CSS_PREFIX}}monthweek-grid-line" style="width:{{this}}%;left:{{multiply this @index}}%;">&nbsp;</div>
{{/each}}
</div>
<div class="{{CSS_PREFIX}}monthweek-events">
{{#each matrices}}
{{#each this}} {{! matrix }}
{{#each this}} {{! column }}
{{#if this}} {{! viewmodel }}
<div data-id="{{stamp model}}" 
    class="{{CSS_PREFIX}}allday-event-block {{#if renderStarts}} {{CSS_PREFIX}}allday-exceed-left{{/if}}{{#if renderEnds}} {{CSS_PREFIX}}allday-exceed-right{{/if}}"
    style="top:{{multiply top @root.eventBlockHeight}}px;left:{{multiply left @root.width}}%;width:{{multiply width @root.width}}%;height:{{@root.eventBlockHeight}}px;margin-top:{{@root.eventBlockGutter}}px">
    <div class="{{CSS_PREFIX}}allday-event" style="height:{{@root.eventHeight}}px;background-color:{{model.bgColor}}">
        <span class="{{CSS_PREFIX}}allday-event-title" style="color:{{model.color}}">{{{allday-tmpl model}}}</span>
        <span class="{{CSS_PREFIX}}allday-resize-handle handle-y">&nbsp;</span>
    </div> 
</div>
{{/if}}
{{/each}}
{{/each}}
{{/each}}
</div>
