<div class="{{CSS_PREFIX}}monthweek-grid ">
{{#each dates ~}}
    <div class="{{CSS_PREFIX}}monthweek-grid-line" 
         style="width:{{@root.width}}%;
                left:{{multiply @root.width @index}}%;">{{#if @root.mode}}{{this}}{{/if}}</div>
{{/each ~}}
</div>
<div class="{{CSS_PREFIX}}monthweek-events">
{{#each matrices ~}}
{{#each this ~}} {{! matrix }}
{{#each this ~}} {{! column }}
{{#if this ~}} {{! viewmodel }}
<div data-id="{{stamp model}}" 
     class="{{CSS_PREFIX}}monthweek-event-block{{#if renderStarts}} {{CSS_PREFIX}}monthweek-exceed-left{{/if}}{{#if renderEnds}} {{CSS_PREFIX}}monthweek-exceed-right{{/if}}"
     style="top:{{multiply top @root.eventBlockHeight}}px;
            left:{{multiply left @root.width}}%;
            width:{{multiply width @root.width}}%;
            height:{{@root.eventBlockHeight}}px;
            margin-top:{{@root.eventBlockGutter}}px">
    <div class="{{CSS_PREFIX}}monthweek-event" style="height:{{@root.eventHeight}}px;color:{{model.color}};background-color:{{model.bgColor}}">
        <span class="{{CSS_PREFIX}}monthweek-event-title">{{{allday-tmpl model}}}</span>
        <span class="{{CSS_PREFIX}}monthweek-resize-handle handle-y">&nbsp;</span>
    </div> 
</div>
{{/if ~}}
{{/each ~}}
{{/each ~}}
{{/each ~}}
</div>
