{{#each matrices}}
    {{#each this}}
        {{#each this}}
        <div class="view-time-date-event-itself" style="top:{{top}}px;left:{{left}}%;width:{{width}}%;height:{{height}}px">{{model.title}}</div>
        {{/each}}
    {{/each}}
{{/each}}
