<div class="{{CSS_PREFIX}}freebusy-recommends">
    <div class="{{CSS_PREFIX}}freebusy-leftmargin" style="margin-left:{{nameWidth}}px">
    {{#each recommends ~}}
        <div class="{{CSS_PREFIX}}freebusy-recommend-block" style="left:{{[0]}}%;width:{{[1]}}%"></div>
    {{/each ~}}
    </div>
</div>
<div class="{{CSS_PREFIX}}freebusy-selection">
    <div class="{{CSS_PREFIX}}freebusy-leftmargin" style="margin-left:{{nameWidth}}px">
    {{#if selection ~}}
    {{#with selection}}
        <div class="{{CSS_PREFIX}}freebusy-select" style="left:{{[0]}}%;width:{{[1]}}%"></div>
    {{/with}}
    {{/if ~}}
    </div>
</div>

<div class="{{CSS_PREFIX}}freebusy-selection-over">
    <div class="{{CSS_PREFIX}}freebusy-leftmargin" style="margin-left:{{nameWidth}}px">
    {{#if selectionOver ~}}
    {{#with selectionOver}}
        <div class="{{CSS_PREFIX}}freebusy-select-over" style="left:{{[0]}}%;width:{{[1]}}%"></div>
    {{/with}}
    {{/if ~}}
    </div>
</div>
