<div class="{{CSS_PREFIX}}freebusy-timegrid">
    <div class="{{CSS_PREFIX}}freebusy-grid-wrap">
        {{#each times ~}}
        <div class="{{CSS_PREFIX}}freebusy-grid" style="width:{{../timeWidth}}%;left:{{multiply ../timeWidth @index}}%"><div>{{this}}</div></div>
        {{/each ~}}
    </div>
</div>
<div class="{{CSS_PREFIX}}freebusy-chart">
    {{#each freebusy ~}}
    <div class="{{CSS_PREFIX}}freebusy-item{{#if @last}} {{CSS_PREFIX}}freebusy-item-last{{/if}}">
        <div class="{{CSS_PREFIX}}freebusy-name">{{name}}</div>
        <div class="{{CSS_PREFIX}}freebusy-blocks">
            {{#each busy ~}}
            <div class="{{CSS_PREFIX}}freebusy-block" style="left:{{[0]}}%;width:{{[1]}}%">
                <div class="{{CSS_PREFIX}}freebusy-fill"></div>
            </div>
            {{/each ~}}
        </div>
    </div>
    {{/each ~}}
</div>
