<div class="{{CSS_PREFIX}}freebusy-grid-container" style="height:{{containerHeight}}px;margin-left:{{nameWidth}}px">
    <div class="{{CSS_PREFIX}}freebusy-grid">
    {{#each times ~}}
        <div class="{{CSS_PREFIX}}freebusy-gridline{{#if @last}} {{CSS_PREFIX}}freebusy-gridline-last{{/if}}"
             style="width:{{@root.timeWidth}}%;left:{{multiply @root.timeWidth @index}}%">
             <div class="{{CSS_PREFIX}}freebusy-gridline-header" style="height:{{@root.itemHeight}}px; line-height:{{@root.itemHeight}}px">{{this}}</div>
             <div class="{{CSS_PREFIX}}freebusy-gridline-inner" style="top:{{@root.itemHeight}}px"></div>
        </div>
    {{/each ~}}
    </div>
</div>
<div class="{{CSS_PREFIX}}freebusy-chart" style="top:{{headerHeight}}px;height:{{bodyHeight}}px">
{{#each freebusy ~}}
    <div class="{{CSS_PREFIX}}freebusy-item {{this.customClass}}" style="height:{{@root.itemHeight}}px">
        <div class="{{CSS_PREFIX}}freebusy-name" style="width:{{@root.nameWidth}}px; line-height:{{@root.itemHeight}}px">{{{freebusy-title-tmpl this}}}</div>
        <div class="{{CSS_PREFIX}}freebusy-block-container" style="margin-left:{{@root.nameWidth}}px">
        {{#each busy ~}}
            <div class="{{CSS_PREFIX}}freebusy-block" style="left:{{[0]}}%;width:{{[1]}}%">
                <div class="{{CSS_PREFIX}}freebusy-fill"></div>
            </div>
        {{/each ~}}
        </div>
    </div>
{{/each ~}}
</div>
