<div class="schedule-view-milestone-left">
    <span>마일스톤</span>
</div>
<div class="schedule-view-milestone-right schedule-view-clear">
{{#each events ~}}
    <div class="schedule-view-milestone-day" 
        style="width:{{@root.width}}%;left:{{multiply @root.width @index}}%;min-height:{{@root.minHeight}}px;height:{{@root.height}}px">
        <ul class="schedule-view-milestone-list">
{{#each items ~}}
            <li data-title="{{model.title}}" class="schedule-view-milestone-item" 
                style="line-height:{{@root.lineHeight}}px">&bull;{{model.title}}</li>
{{/each ~}}
        </ul>
    </div>
{{/each ~}}
</div>
