<table>
<caption>
<button type="button" class="{{CSS_PREFIX}}minicalendar-nav {{CSS_PREFIX}}minicalendar-prev"><span>&lt;</span></button>
<span class="{{CSS_PREFIX}}minicalendar-title">{{title}}</span>
<button type="button" class="{{CSS_PREFIX}}minicalendar-nav {{CSS_PREFIX}}minicalendar-next"><span>&gt;</span></button>
</caption>
<thead><tr>
{{#each dayname}}
<th class="{{cssClass}}">{{name}}</th>
{{/each}}
</tr></thead>
<tbody>
{{#each calendar ~}}
<tr>
{{#each this ~}}
{{! table cell (date button) }}
<td class="{{cssClass}}">
<button type="button" tabindex="-1" class="{{CSS_PREFIX}}minicalendar-date">
<div class="{{CSS_PREFIX}}minicalendar-label"><span>{{date}}</span></div>
</button>
</td>
{{! table cell (date button) }}
{{/each ~}}
</tr>
{{/each ~}}
</tbody>
</table>
