<table>
<caption>
    <button type="button" class="{{CSS_PREFIX}}minicalendar-nav {{CSS_PREFIX}}minicalendar-prev"><span>&lt;</span></button>
    <span class="{{CSS_PREFIX}}minicalendar-title">{{title}}</span>
    <button type="button" class="{{CSS_PREFIX}}minicalendar-nav {{CSS_PREFIX}}minicalendar-next"><span>&gt;</span></button>
</caption>
<thead><tr>
{{#each dayname}}
<th>{{this}}</th>
{{/each}}
</tr></thead>
<tbody>
{{#each calendar ~}}
<tr>
{{#each this ~}}
{{! table cell (date button) }}
<td class="{{CSS_PREFIX}}minicalendar-{{ymd}} 
{{#if isNotThisMonth ~}}{{CSS_PREFIX}}minicalendar-other {{/if ~}}
{{#if selected ~}}{{CSS_PREFIX}}minicalendar-focused {{/if ~}}
{{#if today ~}}{{CSS_PREFIX}}minicalendar-today {{/if~}}
{{#if hasSchedule ~}}{{CSS_PREFIX}}minicalendar-has-schedule {{/if ~}}
{{#if weekend ~}}{{CSS_PREFIX}}minicalendar-weekend {{/if ~}}">
<button type="button" tabindex="-1" class="{{CSS_PREFIX}}minicalendar-date">
    <div class="{{CSS_PREFIX}}minicalendar-label"><span>{{d}}</span></div>
</button>
</td>
{{! table cell (date button) }}
{{/each ~}}
</tr>
{{/each ~}}
</tbody>
</table>
