<table>
<caption>
    <button type="button" class="schedule-view-minicalendar-nav schedule-view-minicalendar-prev"><span>&lt;</span></button>
    <span class="schedule-view-minicalendar-title">{{title}}</span>
    <button type="button" class="schedule-view-minicalendar-nav schedule-view-minicalendar-next"><span>&gt;</span></button>
</caption>
<thead><tr>
{{#each dayname}}
<th>{{this}}</th>
{{/each}}
</tr></thead>
<tbody>
{{#each calendar ~}}
<tr>
{{#each this ~}}
{{! table cell (date button) }}
<td class="{{#if isNotThisMonth ~}}schedule-view-minicalendar-other {{/if ~}}
{{#if selected ~}}schedule-view-minicalendar-focused {{/if ~}}
{{#if today ~}}schedule-view-minicalendar-today {{/if~}}
{{#if hasSchedule ~}}schedule-view-minicalendar-has-schedule {{/if ~}}
{{#if weekend ~}}schedule-view-minicalendar-weekend {{/if ~}}" data-y="{{y}}" data-m="{{m}}" data-d="{{d}}">
<button type="button" tabindex="-1" class="schedule-view-minicalendar-date">
    <div class="schedule-view-minicalendar-label"><span>{{d}}</span></div>
</button>
</td>
{{! table cell (date button) }}
{{/each ~}}
</tr>
{{/each ~}}
</tbody>
</table>
