<div class="schedule-view-task-left">
    <span>업무</span>
</div>
<div class="schedule-view-task-right">

{{#each events ~}}
<div class="schedule-view-task-day" style="width:{{@root.width}}%;left:{{multiply @root.width @index}}%;min-height:{{@root.height}}px">
    <div class="schedule-view-task-day-wrap">
        {{! 출근전 }}
        {{#if morning ~}}
        <h6>출근 전</h6>
        {{#each morning.items ~}}
        <li title="{{model.title}}">{{model.title}}</li>
        {{/each ~}}
        {{/if ~}}

        {{! 점심전 }}
        {{#if lunch ~}}
        <h6>점심 전</h6>
        {{#each lunch.items ~}}
        <li title="{{model.title}}">{{model.title}}</li>
        {{/each ~}}
        {{/if ~}}

        {{! 퇴근전 }}
        {{#if evening ~}}
        <h6>퇴근 전</h6>
        <ul>
        {{#each evening.items ~}}
        <li title="{{model.title}}">{{model.title}}</li>
        {{/each ~}}
        </ul>
        {{/if ~}}
    </div>
</div>
{{/each ~}}

</div>
