<div class="{{CSS_PREFIX}}month-dayname">
{{#each daynames}}
    <div class="{{CSS_PREFIX}}month-dayname-item"
         style="position: absolute;
                width: {{@root.width}}px;
                left: {{multiply @index @root.width}}px">{{this}}</div>
{{/each}}
</div>
<div class="{{CSS_PREFIX}}month-weeks"></div>
