<div class="{{CSS_PREFIX}}month-more">
    <div class="{{CSS_PREFIX}}month-more-title">{{date}}</div>
    <div class="{{CSS_PREFIX}}month-more-list">
        {{#each events}}
        <div class="{{CSS_PREFIX}}month-more-event
                    {{#if model.isAllDay}} {{CSS_PREFIX}}month-more-allday{{/if}}">
            {{#unless model.isAllDay}}{{hhmm model.starts}} {{/unless}}{{model.title}}
        </div>
        {{/each}}
    </div>
</div>
