<div class="{{CSS_PREFIX}}month-more">
    <div class="{{CSS_PREFIX}}month-more-title">
        {{date}}
        <input type="button" value="&times;" class="{{CSS_PREFIX}}month-more-close" />
    </div>
    <div class="{{CSS_PREFIX}}month-more-list" style="height:{{subtract height 20}}px">
        {{#each events}}
        {{#if model.isAllDay ~}}
        <div data-id="{{stamp model}}"
             class="{{CSS_PREFIX}}month-more-event
                    {{CSS_PREFIX}}month-more-allday"
             style="background-color:{{model.bgColor}};
                    color:{{model.color}};
                    border-left:2px solid {{model.borderColor}}">
            {{model.title}}
        </div>
        {{else}}
        <div data-id="{{stamp model}}"
             class="{{CSS_PREFIX}}month-more-event"
              style="background-color:{{model.bgColor}};
                                 color:{{model.color}};
                                 border-left:2px solid {{model.borderColor}}">
            {{hhmm model.starts}} {{model.title}}
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>
