{{#each viewModelForSkip}}
<div style="position: absolute;
            left:{{multiply left @root.width}}%;
            width:{{@root.width}}%"
     class="{{CSS_PREFIX}}weekday-exceed"
     data-ymd="{{this.ymd}}">
    <span>+{{skipped}}</span>
</div>
{{/each}}
