<div class="{{CSS_PREFIX}}weekday-grid ">
{{#each dates ~}}
    <div class="{{CSS_PREFIX}}weekday-grid-line"
         style="width:{{@root.width}}%;
                left:{{multiply @root.width @index}}%;">
        {{this}}
    </div>
{{/each ~}}
</div>
<div class="{{CSS_PREFIX}}weekday-events"></div>
