{{#each viewModelForSkip}}
<div style="position: absolute;
            left:{{left}}%;
            width:{{width}}%"
     class="{{CSS_PREFIX}}weekday-exceed"
     data-ymd="{{this.ymd}}">
    <span>+{{skipped}}</span>
</div>
{{/each}}
