{{#each matrices ~}}
{{#each this ~}} {{! matrix }}
{{#each this ~}} {{! column }}
{{#if this ~}} {{! viewmodel }}
    {{#fi this.top '<' @root.renderLimitIdx ~}}
    <div data-id="{{stamp model}}"
         class="{{CSS_PREFIX}}weekday-event-block
                {{CSS_PREFIX}}weekday-event-block-{{stamp model}}
            {{#if exceedLeft}} {{CSS_PREFIX}}weekday-exceed-left{{/if}}
            {{#if exceedRight}} {{CSS_PREFIX}}weekday-exceed-right{{/if}}"
         style="{{month-eventBlock this @root.eventBlockHeight @root.width 14}};
                margin-top:{{@root.eventBlockGutter}}px">
        {{#fi model.isAllDay '||' hasMultiDates}}
        <div class="{{CSS_PREFIX}}weekday-event"
             style="height:{{@root.eventHeight}}px;
                    color:{{model.color}};
                    background-color:{{model.bgColor}};
                    border-color:{{model.borderColor}};
                    box-shadow:{{model.boxShadow}}; {{model.customStyle}}">
            <span class="{{CSS_PREFIX}}weekday-event-title"
                  data-title="{{model.title}}">{{{allday-tmpl model}}}</span>
            <span class="{{CSS_PREFIX}}weekday-resize-handle handle-y">&nbsp;</span>
        </div>
        {{else ~}}
        <div class="{{CSS_PREFIX}}weekday-event {{CSS_PREFIX}}weekday-event-time" style="height:{{@root.eventHeight}}px; {{model.customStyle}}">
            <span class="{{CSS_PREFIX}}weekday-event-bullet" style="background:{{model.color}}"></span>
            <span class="{{CSS_PREFIX}}weekday-event-title" style="color:#333"
                  data-title="{{model.title}}">{{{time-tmpl model}}}</span>
        </div>
        {{/fi}}
    </div>
    {{else ~}}
        {{wdSkipped}}
    {{/fi ~}}
{{/if ~}}
{{/each ~}}
{{/each ~}}
{{/each ~}}
