<div class="{{CSS_PREFIX}}weekday-border"></div>
<div class="{{CSS_PREFIX}}weekday-grid">
{{#each dates ~}}
    <div class="{{CSS_PREFIX}}weekday-grid-line {{holiday day}} {{#fi date '!==' 1}}{{CSS_PREFIX}}near-month-day{{/fi}}
    {{#if isToday}} {{CSS_PREFIX}}today{{/if}} {{#if isOtherMonth}}{{CSS_PREFIX}}extra-date{{/if}}"
         style="width:{{width}}%; left:{{left}}%;">
        <span>{{date}}</span>
    </div>
{{/each ~}}
</div>
<div class="{{CSS_PREFIX}}weekday-events"></div>
