<div class="{{CSS_PREFIX}}allday-left {{CSS_PREFIX}}left">
    <span>{{{alldayTitle-tmpl}}}</span>
</div>
<div class="{{CSS_PREFIX}}allday-right {{CSS_PREFIX}}right">
    <div class="{{CSS_PREFIX}}weekday-container"></div>
</div>
