{{#each this}}
{{#unless hidden}}<div class="schedule-view-allday-event-block" style="top:{{top}}px;left:{{left}}%;width:{{width}}%;height:{{height}}px">
    <div class="schedule-view-allday-event">
        <span>{{model.title}}</span>
    </div> 
</div>{{/unless}}
{{/each}}
