<div class="{{CSS_PREFIX}}{{viewName}}-left {{CSS_PREFIX}}left" style="border-right: {{styles.leftBorderRight}}; width: {{styles.leftWidth}}; background-color: {{styles.leftBackgroundColor}}; padding-right: {{styles.leftPaddingRight}};">
    {{{dayGridTitle-tmpl viewName}}}
</div>
<div class="{{CSS_PREFIX}}{{viewName}}-right {{CSS_PREFIX}}right">
    <div class="{{CSS_PREFIX}}container">
        <div class="{{CSS_PREFIX}}weekday-grid">
        {{#each days ~}}
            <div class="{{CSS_PREFIX}}weekday-grid-line"
                style="left:{{left}}%; width:{{width}}%; background-color: {{backgroundColor}};
                    {{#unless @last}}
                    border-right: {{@root.styles.borderRight}};
                    {{/unless}}
            "></div>
        {{/each ~}}

        {{#if @root.showExpandableButton}}
        {{#each days ~}}
            {{#if @root.collapsed}}
                {{#if hiddenSchedules}}
                    <span class="{{CSS_PREFIX}}weekday-exceed-in-week" style="z-index: 1; right:{{getRight left width}}%;" data-index="{{@key}}">{{{weekGridFooterExceed-tmpl hiddenSchedules}}}</span>
                {{/if}}
            {{else}}
                {{#fi @key '===' @root.collapseBtnIndex}}
                    <span class="{{CSS_PREFIX}}weekday-collapse-btn" style="z-index: 1; right:{{getRight left width}}%;">{{{collapseBtnTitle-tmpl}}}</span>
                {{/fi}}
            {{/if}}
        {{/each ~}}
        {{/if}}
        </div>
    </div>
</div>
