<div class="{{CSS_PREFIX}}milestone-left {{CSS_PREFIX}}left">
    <span>{{{milestoneTitle-tmpl}}}</span>
</div>
<div class="{{CSS_PREFIX}}milestone-right {{CSS_PREFIX}}right {{CSS_PREFIX}}clear">
  <div class="{{CSS_PREFIX}}task-day-grid-wrap">
  {{#each schedules ~}}
  <div class="{{CSS_PREFIX}}task-day-grid" style="width:{{width}}%;left:{{left}}%"></div>
  {{/each ~}}
  </div>
  <div class="{{CSS_PREFIX}}milestone-day-scroll">
  {{#each schedules ~}}
  <div class="{{CSS_PREFIX}}milestone-day" style="width:{{width}}%;left:{{left}}%">
      <ul class="{{CSS_PREFIX}}milestone-list {{#if isToday}} {{CSS_PREFIX}}today{{/if}}">
      {{#each items ~}}
          <li data-schedule-id="{{model.id}}" data-calendar-id="{{model.calendarId}}" data-id="{{stamp model}}"
            data-title="{{model.title}}"
            class="{{CSS_PREFIX}}milestone-item"
            style="color:{{model.color}}">
            {{{milestone-tmpl model}}}
          </li>
      {{/each ~}}
      </ul>
  </div>
  {{/each ~}}
  </div>
</div>
