<div class="schedule-view-monthweek-grid">
{{#each eventGrid}}
<div class="schedule-view-monthweek-grid-line" style="width:{{this}}%;left:{{multiply this @index}}%;">&nbsp;</div>
{{/each}}
</div>
<div class="schedule-view-monthweek-events">
{{#each matrices}}
{{#each this}} {{! matrix }}
{{#each this}} {{! column }}
{{#if this}} {{! viewmodel }}
<div class="schedule-view-allday-event-block{{#if renderStarts}} schedule-view-allday-exceed-left{{/if}}{{#if renderEnds}} schedule-view-allday-exceed-right{{/if}}" style="top:{{multiply top @root.eventBlockHeight}}px;left:{{multiply left @root.width}}%;width:{{multiply width @root.width}}%;height:{{@root.eventBlockHeight}}px">
    <div class="schedule-view-allday-event">
        <span>{{model.title}}</span>
    </div> 
</div>
{{/if}}
{{/each}}
{{/each}}
{{/each}}
</div>
