<div class="schedule-view-monthweek-grid">
{{#each eventGrid}}
<div class="schedule-view-monthweek-grid-line" style="width:{{this}}%;left:{{multiply this @index}}%;">&nbsp;</div>
{{/each}}
</div>
<div class="schedule-view-monthweek-events">
{{#each matrices}}
{{#each this}} {{! matrix }}
{{#each this}} {{! column }}
{{#if this}} {{! viewmodel }}
<div class="schedule-view-allday-event-block" style="top:{{multiply top @root.eventBlockHeight}}px;left:{{multiply left @root.width}}%;width:{{multiply width @root.width}}%;height:{{@root.eventBlockHeight}}px">
    <div class="schedule-view-allday-event">
        {{#if renderStarts ~}}<span class="schedule-view-allday-exceed-starts">&lt;</span>{{/if ~}}
        <span>{{model.title}}</span>
        {{#if renderEnds ~}}<span class="schedule-view-allday-exceed-ends">&gt;</span>{{/if ~}}
    </div> 
</div>
{{/if}}
{{/each}}
{{/each}}
{{/each}}
</div>
