<div class="{{CSS_PREFIX}}task-left {{CSS_PREFIX}}left">
    <span>{{{taskTitle-tmpl}}}</span>
</div>

<div class="{{CSS_PREFIX}}task-right {{CSS_PREFIX}}right schedule-view clear">
    <div class="{{CSS_PREFIX}}task-day-grid-wrap">
    {{#each schedules ~}}
    <div class="{{CSS_PREFIX}}task-day-grid" style="width:{{width}}%;left:{{left}}%"></div>
    {{/each ~}}
    </div>

    <div class="{{CSS_PREFIX}}task-day-scroll">
    {{#each schedules ~}}
    <div class="{{CSS_PREFIX}}task-day" style="width:{{width}}%;left:{{left}}%">
    <div class="{{CSS_PREFIX}}task-day-wrap {{#if isToday}} {{CSS_PREFIX}}today{{/if}}">
        <ul class="{{CSS_PREFIX}}task-list">
            {{#each morning.items ~}}
            <li data-schedule-id="{{model.id}}" data-calendar-id="{{model.calendarId}}" data-id="{{stamp model}}"
            data-title="{{model.title}}"
            class="{{CSS_PREFIX}}task-item"
            style="background-color:{{model.bgColor}};color:{{model.color}}; border-color:{{model.borderColor}} "><span></span>{{{task-tmpl model}}}</li>
            {{/each ~}}
            {{#each lunch.items ~}}
            <li data-schedule-id="{{model.id}}" data-calendar-id="{{model.calendarId}}" data-id="{{stamp model}}"
            data-title="{{model.title}}"
            class="{{CSS_PREFIX}}task-item"
            style="background-color:{{model.bgColor}};color:{{model.color}}; border-color:{{model.borderColor}}"><span></span>{{{task-tmpl model}}}</li>
            {{/each ~}}
            {{#each evening.items ~}}
            <li data-schedule-id="{{model.id}}" data-calendar-id="{{model.calendarId}}" data-id="{{stamp model}}"
            data-title="{{model.title}}"
            class="{{CSS_PREFIX}}task-item"
            style="background-color:{{model.bgColor}};color:{{model.color}}; border-color:{{model.borderColor}}"><span></span>{{{task-tmpl model}}}</li>
            {{/each ~}}
        </ul>
    </div>
    </div>
    {{/each ~}}
</div>
</div>
