<div class="{{CSS_PREFIX}}task-left {{CSS_PREFIX}}left">
    <span>{{{taskTitle-tmpl}}}</span>
</div>
<div class="{{CSS_PREFIX}}task-right {{CSS_PREFIX}}right">
    <div class="{{CSS_PREFIX}}weekday-container"></div>
</div>