{{#each matrices}}
    {{#each this}}
        {{#each this}}
            {{#if this}}
            <div class="schedule-view-time-date-event-block" data-id="{{stamp model}}" style="{{time-eventBlock this}}">
                <div class="schedule-view-time-event" style="color:{{model.color}};background-color:{{model.backgroundColor}}">{{model.title}}</div>
                <div class="schedule-view-time-resize-handle handle-x">&nbsp;</div>
            </div>{{/if}}
        {{/each}}
    {{/each}}
{{/each}}
