<div class="{{CSS_PREFIX}}time-date-schedule-block-wrap" style="margin-right: {{styles.marginRight}};">
    {{#each matrices}}
        {{#each this}}
            {{#each this}}
                {{#if this ~}}
                    <div class="{{CSS_PREFIX}}time-date-schedule-block {{#if
                            model.isPending}} {{CSS_PREFIX}}time-date-schedule-block-pending{{/if}}"
                         data-id="{{stamp model}}"
                         style="{{time-scheduleBlock this}};
                             {{#fi left '!==' 0}}
                             padding-left: {{@root.styles.paddingLeft}};
                             {{/fi}}
                                 ">
                        <div data-schedule-id="{{model.id}}" data-calendar-id="{{model.calendarId}}"
                             class="{{CSS_PREFIX}}time-schedule {{#if
                                     model.isFocused}}{{CSS_PREFIX}}time-schedule-focused {{/if}}"
                             style="
                                 {{#unless croppedEnd}}
                                     {{@root.styles.borderRadius}};
                                     {{@root.styles.borderRadius}};
                                 {{/unless}}
                                 {{#unless croppedStart}}
                                     {{@root.styles.borderRadius}};
                                         border-radius: 7px;
                                 {{/unless}}
                                 {{#if model.isFocused}}
                                 color: #ffffff; background-color:{{model.color}}; border-color:{{model.color}};
                                 {{else}}
                                 color:{{model.color}}; background-color:{{model.bgColor}}; border-color:{{model.borderColor}};
                                 {{/if}}
                                 {{model.customStyle}}"
                        >
                            {{#if hasGoingDuration}}
                                <div style="height: {{goingDurationHeight}}px;
                                        background-color: transparent;">
                                </div>
                            {{/if}}
                            <div class="{{CSS_PREFIX}}time-schedule-content {{CSS_PREFIX}}time-schedule-content-time"
                                 style="height: {{modelDurationHeight}}px;
                                         display: flex;
                                         flex-direction: column;
                                         ">
                                <div class="{{CSS_PREFIX}}time-schedule-content-header"
                                     style="background-color: {{model.bgColor}}; height: 38px;
                                             font-family: OpenSans;
                                             font-size: 13px;
                                             font-weight: 600;
                                             display: flex;
                                             flex-direction: row;
                                             justify-content: flex-start;
                                             align-items: center;
                                             font-stretch: normal;
                                             font-style: normal;
                                             line-height: 1.38;
                                             letter-spacing: normal;
                                             text-align: left;
                                             color: #ffffff;">
                                    {{{time-tmpl model}}}
                                </div>
                                <div class="{{CSS_PREFIX}}time-schedule-content-body"
                                     style="color: #000000; flex: 1;
                                     min-height: 17px;
                                     border: solid 1px #c7c7c7;
                                     border-bottom-width: 3px;
                                     border-bottom-left-radius: 7px;
                                     border-bottom-right-radius: 7px;
                                      background-color: #f6f6f6">
                                    {{{model.title}}}
                                </div>
                            </div>
                            {{#if hasComingDuration}}
                                <div style="height: {{goingDurationHeight}}px;
                                        background-color: transparent;">
                                </div>
                            {{/if}}
                        </div>
                    </div>
                {{/if ~}}
            {{/each}}
        {{/each}}
    {{/each}}
</div>
