<div class="{{CSS_PREFIX}}timegrid-left">
    {{#each hours ~}}
        <div class="{{CSS_PREFIX}}timegrid-hour
            {{CSS_PREFIX}}timegrid-hour-{{this}}"><span>{{this}}</span></div>
    {{/each ~}}
</div>
<div class="{{CSS_PREFIX}}timegrid-right">
    <div class="{{CSS_PREFIX}}timegrid-h-grid">
        {{#each hours ~}}
        <div class="{{CSS_PREFIX}}timegrid-gridline"></div>
        {{/each ~}}
    </div>
    <div class="{{CSS_PREFIX}}timegrid-events">
        <div class="{{CSS_PREFIX}}timegrid-events-container"></div>
    </div>
    <div class="{{CSS_PREFIX}}timegrid-hourmarker" style="top:{{hourmarkerTop}}%">
        <div class="{{CSS_PREFIX}}timegrid-hourmarker-wrap">
            <div class="{{CSS_PREFIX}}timegrid-hourmarker-line" style="{{#unless isToday}}display:none{{/unless}};"></div>
            <div class="{{CSS_PREFIX}}timegrid-todaymarker" style="left:{{todaymarkerLeft}}%;{{#unless isToday}}display:none{{/unless}}">today</div>
        </div>
    </div>
</div>
