<div class="{{CSS_PREFIX}}time-date-event-block-wrap">
{{#each matrices}}
    {{#each this}}
        {{#each this}}
        {{#if this ~}}
        <div class="{{CSS_PREFIX}}time-date-event-block" data-id="{{stamp model}}" style="{{time-eventBlock this}}">
            <div class="{{CSS_PREFIX}}time-event" style="color:{{model.color}};background-color:{{model.bgColor}}; border-left: 2px solid {{model.borderColor}}">{{{time-tmpl model}}}</div>
            <div class="{{CSS_PREFIX}}time-resize-handle handle-x">&nbsp;</div>
        </div>
        {{/if ~}}
        {{/each}}
    {{/each}}
{{/each}}
</div>
