<div class="{{CSS_PREFIX}}time-date-event-block-wrap">
{{#each matrices}}
    {{#each this}}
        {{#each this}}
        {{#if this ~}}
        <div class="{{CSS_PREFIX}}time-date-event-block {{#if model.isPending}} {{CSS_PREFIX}}time-date-event-block-pending{{/if}}" data-id="{{stamp model}}" style="{{time-eventBlock this}}">
            <div class="{{CSS_PREFIX}}time-event {{#if model.isFocused}}{{CSS_PREFIX}}time-event-focused {{/if}}"
                style="
                {{#if model.isFocused}}
                    color: #ffffff; background-color:{{model.color}}; border-color:{{model.color}};
                {{else}}
                    color:{{model.color}}; background-color:{{model.bgColor}}; border-color:{{model.borderColor}};
                {{/if}}
                 {{model.customStyle}}"
            >{{{time-tmpl model}}}</div>
            {{#unless cropped}}<div class="{{CSS_PREFIX}}time-resize-handle handle-x">&nbsp;</div>{{/unless}}
        </div>
        {{/if ~}}
        {{/each}}
    {{/each}}
{{/each}}
</div>
