<div class="{{CSS_PREFIX}}time-date-event-block {{#if model.isPending}} {{CSS_PREFIX}}time-date-event-block-pending{{/if}}" data-id="{{stamp model}}" style="width: 100%; height: 100%;">
    <div class="{{CSS_PREFIX}}time-event" style="color:{{model.color}};background-color:{{model.bgColor}}; border-color:{{model.borderColor}}; box-shadow:{{model.boxShadow}};">{{{time-tmpl model}}}</div>
    {{#unless cropped}}<div class="{{CSS_PREFIX}}time-resize-handle handle-x">&nbsp;</div>{{/unless}}
</div>
