<div class="{{CSS_PREFIX}}time-date-event-block" data-id="{{stamp model}}" style="width: 100%; height: 100%;">
    <div class="{{CSS_PREFIX}}time-event {{CSS_PREFIX}}time-date-event-block-dragging-highlight" style="background-color:{{model.bgColor}}; border-color:{{model.borderColor}};">{{{time-tmpl model}}}</div>
    {{#unless cropped}}<div class="{{CSS_PREFIX}}time-resize-handle handle-x">&nbsp;</div>{{/unless}}
</div>
