<div class="{{CSS_PREFIX}}time-date-schedule-block" data-id="{{stamp model}}" style="width: 100%; height: 100%;">
    <div class="{{CSS_PREFIX}}time-schedule {{CSS_PREFIX}}time-date-schedule-block-focused" style="color: #ffffff; background-color:{{model.dragBgColor}};">
        {{#if hasGoingDuration}}
            <div class="{{CSS_PREFIX}}time-schedule-content {{CSS_PREFIX}}time-schedule-content-travel-time" style="border-color:{{model.borderColor}}; border-bottom: 1px dashed {{model.color}}; height: {{goingDurationHeight}}%;">{{{goingDuration-tmpl model}}}</div>
        {{/if}}
            <div class="{{CSS_PREFIX}}time-schedule-content" style="height: {{modelDurationHeight}}%; border-color:{{model.borderColor}};">
                {{{time-tmpl model}}}
            </div>
        {{#if hasComingDuration}}
            <div class="{{CSS_PREFIX}}time-schedule-content {{CSS_PREFIX}}time-schedule-content-travel-time" style="border-color:{{model.borderColor}}; border-top: 1px dashed {{model.color}}; height: {{comingDurationHeight}}%;">{{{comingDuration-tmpl model}}}</div>
        {{/if}}
    </div>
    {{#unless croppedEnd}}<div class="{{CSS_PREFIX}}time-resize-handle handle-x">&nbsp;</div>{{/unless}}
    <div class="{{CSS_PREFIX}}time-date-schedule-block-cover"></div>
</div>
