<div class="{{CSS_PREFIX}}weekday-grid">
{{#each dates ~}}
    <div class="{{CSS_PREFIX}}weekday-grid-line {{#if isToday}} {{CSS_PREFIX}}today{{/if}}" style="width:{{width}}%;left:{{left}}%;"></div>
{{/each ~}}
</div>
<div class="{{CSS_PREFIX}}weekday-creation"></div>
<div class="{{CSS_PREFIX}}weekday-schedules"style="top:{{@root.scheduleContainerTop}}px;">
    <!-- weekday-schedules 높이를 하단 패딩까지 확보하기 위한 빈 div -->
    <div class="{{CSS_PREFIX}}weekday-schedules-height-span" style="height:{{contentHeight}}px"></div>
    {{#each matrices ~}}
    {{#each this ~}} {{! matrix }}
    {{#each this ~}} {{! column }}
    {{#if this ~}} {{! viewmodel }}
    <div data-id="{{stamp model}}"
        class="{{CSS_PREFIX}}weekday-schedule-block
            {{#if exceedLeft}} {{CSS_PREFIX}}weekday-exceed-left{{/if}}
            {{#if exceedRight}} {{CSS_PREFIX}}weekday-exceed-right{{/if}}"
        style="top:{{multiply top @root.scheduleBlockHeight}}px;
                left:{{grid-left this @root.dates}}%;
                width:{{grid-width this @root.dates}}%">
        <div data-schedule-id="{{model.id}}" data-calendar-id="{{model.calendarId}}" class="{{CSS_PREFIX}}weekday-schedule {{#if model.isFocused}}{{CSS_PREFIX}}weekday-schedule-focused {{/if}}"
            style="height:{{@root.scheduleHeight}}px;
                {{#if model.isFocused}}
                    color: #ffffff; background-color:{{model.color}}; border-color:{{model.color}};
                {{else}}
                    color:{{model.color}}; background-color:{{model.bgColor}}; border-color:{{model.borderColor}};
                {{/if}}
            {{model.customStyle}}">
            {{#fi model.category '===' 'task'}}
                <span class="{{CSS_PREFIX}}weekday-schedule-title">{{{task-tmpl model}}}</span>
            {{else}}
                <span class="{{CSS_PREFIX}}weekday-schedule-title">{{{allday-tmpl model}}}</span>
            {{/fi}}
            {{#unless model.isReadOnly}}<span class="{{CSS_PREFIX}}weekday-resize-handle handle-y">&nbsp;</span>{{/unless}}
        </div>
    </div>
    {{/if ~}}
    {{/each ~}}
    {{/each ~}}
    {{/each ~}}
    {{#fi panelName '===' 'allday'}}
    {{#fi viewType '===' 'toggle'}}
    {{#each dates ~}}
        {{#if @root.collapsed}}
            {{#if hiddenSchedules}}
            <span class="{{CSS_PREFIX}}weekday-exceed-in-week" data-ymd="{{ymd}}" style="left:{{add left width}}%; top: {{@root.floatingButtonTop}}px; margin-top: -4px;">{{weekGridFooterExceed-tmpl hiddenSchedules}}</span>
            {{/if}}
        {{else}}
            {{#fi @key '===' @root.minHiddenScheduleIndex}}
                <div class="{{CSS_PREFIX}}weekday-collapse-btn" style="left:{{add left width}}%; top: {{@root.floatingButtonTop}}px; margin-top: -4px;">{{{alldayCollapseBtnTitle-tmpl}}}</div>
            {{/fi}}
        {{/if}}
    {{/each ~}}
    {{/fi}}
    {{/fi}}
</div>
