<div class="{{CSS_PREFIX}}scroll-y {{CSS_PREFIX}}dayname-layout"></div>
<div class="{{CSS_PREFIX}}scroll-y {{CSS_PREFIX}}milestone-layout" style="min-height:52px;max-height:100px"></div>
<div class="{{CSS_PREFIX}}scroll-y {{CSS_PREFIX}}task-layout" style="min-height:52px;max-height:100px"></div>
<div class="{{CSS_PREFIX}}scroll-y {{CSS_PREFIX}}allday-layout" style="min-height:68x;max-height:88px"></div>
<div class="{{CSS_PREFIX}}timegrid-layout"></div>
