<div class="{{CSS_PREFIX}}scroll-y {{CSS_PREFIX}}dayname-layout"></div>
<div class="{{CSS_PREFIX}}scroll-y {{CSS_PREFIX}}milestone-layout" style="min-height:80px;max-height:100px"></div>
<div class="{{CSS_PREFIX}}scroll-y {{CSS_PREFIX}}allday-layout" style="min-height:48x;max-height:68px"></div>
<div class="{{CSS_PREFIX}}timegrid-layout"></div>
