<div class="{{CSS_PREFIX}}popup">
  <div class="{{CSS_PREFIX}}popup-body">
    <button class="{{CSS_PREFIX}}popup-close">
      <span class="{{CSS_PREFIX}}popup-icon icon ic-close"></span>
    </button>
    <div class="{{CSS_PREFIX}}popup-dropdown" 
        {{#fi calendars.length '===' 0}}style="visibility: hidden; height: 14px"{{/fi}}
      >
      <button id="dropdownCalendarBtn" class="{{CSS_PREFIX}}popup-dropdown-button {{CSS_PREFIX}}button">
        <span id="dropdownCalendarBtnIcon" class="{{CSS_PREFIX}}popup-icon icon calendar" style="background-color: {{currentCalendar.bgColor}}"></span><span id="dropdownCalendarBtnTitle">{{currentCalendar.name}}</span><i class="icon right ic-arrow-solid-bottom"></i>
      </button>
      <ul id="dropdownCalendarMenu" class="{{CSS_PREFIX}}popup-dropdown-menu">
        <li class="{{CSS_PREFIX}}dropdown-item"><span class="{{CSS_PREFIX}}popup-icon icon calendar" style="background-color: {{currentCalendar.bgColor}}"></span>{{currentCalendar.name}}<i class="icon right ic-arrow-solid-top"></i></li>
        {{#each calendars}}
        <li class="{{CSS_PREFIX}}dropdown-item" data-index="{{@key}}"><span class="{{CSS_PREFIX}}popup-icon icon calendar" style="background-color: {{bgColor}}"></span>{{name}}</li>
        {{/each}}
      </ul>
    </div>
    <div>
      <div id="subjectDiv" class="{{CSS_PREFIX}}popup-textfield">
        <i class="{{CSS_PREFIX}}popup-icon icon ic-subject"></i><input id="subject-input" placeholder={{subjectPlaceholder-tmpl}}>
      </div>
      <button id="lockBtn" class="{{CSS_PREFIX}}button"><i id="lockBtnIcon" class="icon ic-unlock"></i></button>
    </div>
    <div id="{{CSS_PREFIX}}location" class="{{CSS_PREFIX}}popup-textfield">
      <i class="{{CSS_PREFIX}}popup-icon icon ic-location"></i><input id="location-input" placeholder={{locationPlaceholder-tmpl}}>
    </div>
    <div>
      <div class="{{CSS_PREFIX}}popup-datepicker">
        <i class="{{CSS_PREFIX}}popup-icon icon ic-date"></i>
        <div class="startpicker-input tui-datetime-input tui-has-focus">
            <input type="text" id="startpicker-input" aria-label="Date-Time" placeholder={{startDatePlaceholder-tmpl}}>
            <span class="tui-ico-date"></span>
            <div id="startpicker-container"></div>
        </div>
      </div>
      <span class="dash">-</span>
      <div class="{{CSS_PREFIX}}popup-datepicker">
        <i class="{{CSS_PREFIX}}popup-icon icon ic-date"></i>
        <div class="endpicker-input tui-datetime-input tui-has-focus">
            <input type="text" id="endpicker-input" aria-label="Date-Time" placeholder={{endDatePlaceholder-tmpl}}>
            <span class="tui-ico-date"></span>
            <div id="endpicker-container"></div>
        </div>
      </div>
      <span id="alldayCheck" style="padding-left: 4px">
        {{#if isAllday}}
        <input id="popup-allday-checkbox" type="checkbox" class="checkbox-square" checked>
        {{else}}
        <input id="popup-allday-checkbox" type="checkbox" class="checkbox-square">
        {{/if}}
        <span style="margin-right: 4px"></span><span style="vertical-align: middle;">{{isAllday-tmpl}}</span>
      </span>
    </div>
    <div class="{{CSS_PREFIX}}popup-dropdown state">
      <button id="dropdownStateBtn" class="{{CSS_PREFIX}}popup-dropdown-button {{CSS_PREFIX}}button {{CSS_PREFIX}}popup-state">
        <i class="{{CSS_PREFIX}}popup-icon icon ic-state"></i><span id="dropdownStateBtnTitle">{{busyState-tmpl}}</span><i class="icon right ic-arrow-solid-bottom"></i>
      </button>
      <ul id="dropdownStateMenu" class="{{CSS_PREFIX}}popup-dropdown-menu {{CSS_PREFIX}}popup-state">
        <li class="{{CSS_PREFIX}}dropdown-item"><i class="{{CSS_PREFIX}}popup-icon icon ic-state"></i>{{busyState-tmpl}}<i class="icon right ic-arrow-solid-top"></i></li>
        <li class="{{CSS_PREFIX}}dropdown-item" style="padding-left: 32px">{{busyState-tmpl}}</li>
        <li class="{{CSS_PREFIX}}dropdown-item" style="padding-left: 32px">{{freeState-tmpl}}</li>
      </ul>
    </div>
    <div style="margin: 0; height: 36px">
      <button id="saveBtn" class="{{CSS_PREFIX}}button-emphasize" style="float: right">Save</button>
    </div>
  </div>
  <div id="arrow-border" class="{{CSS_PREFIX}}popup-arrow-border {{CSS_PREFIX}}popup-bottom">
    <div id="arrow-fill" class="{{CSS_PREFIX}}popup-arrow-fill {{CSS_PREFIX}}popup-bottom"></div>
  </div>
</div>
