<div class="{{CSS_PREFIX}}popup {{CSS_PREFIX}}popup-detail">
  <div class="{{CSS_PREFIX}}popup-container">
    <div class="{{CSS_PREFIX}}popup-section {{CSS_PREFIX}}section-header">
      <div>
        <span class="{{CSS_PREFIX}}schedule-private {{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-private"></span>
        <span class="{{CSS_PREFIX}}schedule-title">{{schedule.title}}</span>
      </div>
      <div class="{{CSS_PREFIX}}popup-detail-date {{CSS_PREFIX}}content">{{{popupDetailDate-tmpl schedule.isAllDay schedule.start schedule.end}}}</div>
    </div>
    <div class="{{CSS_PREFIX}}section-detail">
        {{#if schedule.location}}<div class="{{CSS_PREFIX}}popup-detail-item"><span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-location-b"></span><span class="{{CSS_PREFIX}}content">{{{popupDetailLocation-tmpl schedule}}}</span></div>{{/if}}
        {{#if schedule.recurrenceRule}}<div class="{{CSS_PREFIX}}popup-detail-item"><span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-repeat-b"></span><span class="{{CSS_PREFIX}}content">{{{popupDetailRepeat-tmpl schedule}}}</span></div>{{/if}}
        {{#if schedule.attendees}}<div class="{{CSS_PREFIX}}popup-detail-item {{CSS_PREFIX}}popup-detail-item-indent"><span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-user-b"></span><span class="{{CSS_PREFIX}}content">{{{popupDetailUser-tmpl schedule}}}</span></div>{{/if}}
        {{#if schedule.state}}<div class="{{CSS_PREFIX}}popup-detail-item"><span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-state-b"></span><span class="{{CSS_PREFIX}}content">{{{popupDetailState-tmpl schedule}}}</span></div>{{/if}}
        {{#if calendar}}
        <div class="{{CSS_PREFIX}}popup-detail-item"><span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot" style="background-color: {{schedule.bgColor}}"></span><span class="{{CSS_PREFIX}}content">{{calendar.name}}</span></div>
        {{/if}}
        {{#if schedule.body}}<div class="{{CSS_PREFIX}}popup-detail-item {{CSS_PREFIX}}popup-detail-item-separate"><span class="{{CSS_PREFIX}}content">{{{popupDetailBody-tmpl schedule}}}</span></div>{{/if}}
    </div>
    {{#if schedule.isReadOnly}}
    {{else}}
    <div class="{{CSS_PREFIX}}section-button">
      <button class="{{CSS_PREFIX}}popup-edit"><span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-edit"></span><span class="{{CSS_PREFIX}}content">{{{popupEdit-tmpl}}}</span></button>
      <div class="{{CSS_PREFIX}}popup-vertical-line"></div>
      <button class="{{CSS_PREFIX}}popup-delete"><span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-delete"></span><span class="{{CSS_PREFIX}}content">{{{popupDelete-tmpl}}}</span></button>
    </div>
    {{/if}}
  </div>
  <div class="{{CSS_PREFIX}}popup-top-line" style="background-color: {{schedule.bgColor}}"></div>
  <div id="{{CSS_PREFIX}}popup-arrow" class="{{CSS_PREFIX}}popup-arrow {{CSS_PREFIX}}arrow-left">
    <div class="{{CSS_PREFIX}}popup-arrow-border">
        <div class="{{CSS_PREFIX}}popup-arrow-fill"></div>
    </div>
  </div>
</div>
