<form name="create-calendar" method="{{method}}" action="{{action}}">
    <legend>캘린더 {{#if isCreateMode}}만들기{{else}}수정하기{{/if}}</legend>
{{#with formData ~}}
    <p>
        <label class="schedule-view-form-title" for="projectName">프로젝트</label>
        <input type="text" name="projectName" placeholder="프로젝트명" value="{{projectName}}" />
        <input type="hidden" name="projectCode" value="{{projectCode}}" />
    </p>
    <p>
        <label class="schedule-view-form-title" for="name">이름</label>
        <input type="text" name="name" placeholder="캘린더 이름" value="{{name}}" />
    </p>
    <p>
        <label class="schedule-view-form-title" for="color">색상</label>
        <span class="schedule-view-calendar-form-colors">
            {{{radioCalendarColor 'color' @root.colorList color}}}
            <input type="text" name="colorHex" placeholder="HEX value" value="{{colorHex}}" maxlength="6" />
        </span>
    </p>
    <p>
        <label class="schedule-view-form-title" for="type">유형</label>
        {{{selectbox 'type' @root.calendarList type}}}
    </p>
    <div>
        <label class="schedule-view-form-title">공유설정<input type="button" class="schedule-view-createcalendar-addshare" value="+" /></label>
        <table>
            <colgroup><col span="1" style="width:60%" /><col span="1" style="width:40%" /></colgroup>
            <tbody>
            <tr class="schedule-view-createcalendar-master"><td>나</td><td>마스터</td></tr>
            {{#each share}}
            <tr>
                <td>
                    <input type="text" name="userId[]" placeholder="사용자명" value="{{id}}"/>
                </td>
                <td>
                    {{#fi ../type '===' 'private' ~}}
                    {{{selectbox 'authority[]' @root.privateList authority}}}
                    {{else ~}}
                    {{{selectbox 'authority[]' @root.shareList authority}}}
                    {{/fi ~}}
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/with ~}}
    <p>
    {{#if isCreateMode ~}}
        <input type="submit" value="만들기" />
    {{else ~}}
        <input type="submit" value="수정하기" />
    {{/if ~}}
    </p>
</form>
