<div class="{{CSS_PREFIX}}month-dayname"
    style="border-top: {{styles.borderTop}}; height: {{styles.height}}; font-size: {{styles.fontSize}}; background-color: {{styles.backgroundColor}}; text-align: {{styles.textAlign}}; font-weight: {{styles.fontWeight}};">
{{#each daynames}}
    <div class="{{CSS_PREFIX}}month-dayname-item"
         style="position: absolute;
                width: {{width}}%;
                left: {{left}}%;
                padding-left: {{@root.styles.paddingLeft}};
                padding-right: {{@root.styles.paddingRight}};
                line-height: {{@root.styles.height}};
                {{#unless @last}}
                border-right: {{@root.styles.borderLeft}};
                {{/unless}}
                ">
        <span class="{{holiday day}}" style="color: {{color}};">
            {{{monthDayname-tmpl this}}}
        </span>
    </div>
{{/each}}
</div>
