<div class="{{CSS_PREFIX}}month-more" style="padding-bottom: {{styles.paddingBottom}}; border: {{styles.border}}; box-shadow: {{styles.boxShadow}}; background-color: {{styles.backgroundColor}};">
    <div class="{{CSS_PREFIX}}month-more-title"
        style="height: {{styles.titleHeight}}; margin-bottom: {{styles.titleMarginBottom}}; background-color: {{styles.titleBackgroundColor}}; border-bottom: {{styles.titleBorderBottom}}; padding: {{styles.titlePadding}};">
        <span class="{{CSS_PREFIX}}month-more-title-date">{{{monthMoreTitleDate-tmpl date dayname}}}</span>
        <button type="button" class="{{CSS_PREFIX}}month-more-close">{{{monthMoreClose-tmpl}}}</button>
    </div>
    <div class="{{CSS_PREFIX}}month-more-list" style="padding: {{styles.listPadding}}; height: {{styles.listHeight}};">
        {{#each schedules}}
        {{#fi model.isAllDay '||' hasMultiDates ~}}
            <div data-id="{{stamp model}}"
                data-schedule-id="{{model.id}}" data-calendar-id="{{model.calendarId}}"
                class="{{CSS_PREFIX}}month-more-schedule {{CSS_PREFIX}}month-more-allday {{CSS_PREFIX}}weekday-schedule-title"
                style="height: {{@root.scheduleHeight}}px; line-height: {{@root.scheduleHeight}}px; margin-top: {{@root.scheduleGutter}}px; border-radius: {{@root.borderRadius}};
                    {{#if model.isFocused}}
                        color: #ffffff; background-color:{{model.color}}; border-left:3px solid {{model.borderColor}};
                    {{else}}
                        color:{{model.color}}; background-color:{{model.bgColor}}; border-left:3px solid {{model.borderColor}};
                    {{/if}}
                    {{model.customStyle}}">
                    {{{allday-tmpl model}}}
            </div>
        {{else}}
            {{#fi model.category '===' 'time'}}
                <div data-id="{{stamp model}}"
                    data-schedule-id="{{model.id}}" data-calendar-id="{{model.calendarId}}"
                    class="{{CSS_PREFIX}}month-more-schedule {{CSS_PREFIX}}weekday-schedule {{CSS_PREFIX}}weekday-schedule-time"
                    style="height: {{@root.scheduleHeight}}px; line-height: {{@root.scheduleHeight}}px; margin-top: {{@root.scheduleGutter}}px;{{model.customStyle}}">
                    <span class="{{CSS_PREFIX}}weekday-schedule-bullet"
                        style="top: {{@root.scheduleBulletTop}}px;
                            {{#if model.isFocused}}
                                background: #ffffff
                            {{else}}
                                background:{{model.borderColor}}
                            {{/if}}"></span>
                    <span class="{{CSS_PREFIX}}weekday-schedule-title"
                        style="{{#if model.isFocused}}
                                color: #ffffff;
                                background-color: {{model.color}}
                            {{else}}
                                color:#333;
                            {{/if}}"
                        data-title="{{model.title}}">{{{time-tmpl model}}}</span>
                </div>
            {{else ~}}
                <div data-id="{{stamp model}}"
                    data-schedule-id="{{model.id}}" data-calendar-id="{{model.calendarId}}"
                    class="{{CSS_PREFIX}}month-more-schedule {{CSS_PREFIX}}weekday-schedule {{#if model.isFocused}}{{CSS_PREFIX}}weekday-schedule-focused {{/if}}"
                    style="height:{{@root.scheduleHeight}}px; line-height:{{@root.scheduleHeight}}px; border-radius: {{@root.styles.borderRadius}};
                    {{#unless exceedLeft}}
                        margin-left: {{@root.styles.marginLeft}};
                    {{/unless}}
                    {{#unless exceedRight}}
                        margin-right: {{@root.styles.marginRight}};
                    {{/unless}}
                    {{#if model.isFocused}}
                        color: #ffffff; background-color:{{model.color}}; border-color:{{model.color}};
                    {{else}}
                        color:{{model.color}}; background-color:{{model.bgColor}}; border-color:{{model.borderColor}};
                    {{/if}}
                        {{model.customStyle}}">
                    <span class="{{CSS_PREFIX}}weekday-schedule-title"
                                    data-title="{{model.title}}">{{{schedule-tmpl model}}}</span>
                </div>
            {{/fi}}
        {{/fi}}
        {{/each}}
    </div>
</div>
