<div class="{{CSS_PREFIX}}month-more" style="padding-bottom: {{styles.paddingBottom}}; border: {{styles.border}}; box-shadow: {{styles.boxShadow}}; background-color: {{styles.backgroundColor}};">
    <div class="{{CSS_PREFIX}}month-more-title"
        style="height: {{styles.titleHeight}}; margin-bottom: {{styles.titleMarginBottom}}; background-color: {{styles.titleBackgroundColor}}; border-bottom: {{styles.titleBorderBottom}}; padding: {{styles.titlePadding}};">
        <span class="{{CSS_PREFIX}}month-more-title-date">{{{monthMoreTitleDate-tmpl date dayname}}}</span>
        <button type="button" class="{{CSS_PREFIX}}month-more-close">{{{monthMoreClose-tmpl}}}</button>
    </div>
    <div class="{{CSS_PREFIX}}month-more-list" style="padding: {{styles.listPadding}}; height: {{styles.listHeight}};">
        {{#each schedules}}
            <div data-id="{{stamp model}}"
                data-schedule-id="{{model.id}}" data-calendar-id="{{model.calendarId}}"
                class="{{CSS_PREFIX}}month-more-schedule {{CSS_PREFIX}}month-more-allday {{CSS_PREFIX}}weekday-schedule-title"
                style="height: {{@root.scheduleHeight}}px; line-height: {{@root.scheduleHeight}}px; margin-top: {{@root.scheduleGutter}}px; border-radius: {{@root.borderRadius}};
                    {{#if model.isFocused}}
                        color: #ffffff; background-color:{{model.color}}; border-left:3px solid {{model.borderColor}};
                    {{else}}
                        color: #ffffff; background-color:{{model.bgColor}}; border-left:3px solid {{model.borderColor}};
                    {{/if}}
                    {{model.customStyle}}">
                    {{{monthScheduleName-tmpl model}}} {{{model.title}}}
            </div>
        {{/each}}
    </div>
</div>
